<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.GuestMapper">
    <select id="select" parameterType="String" resultType="Guest">
        SELECT * FROM guest WHERE guestId=#{guestId}
    </select>

    <insert id="insert" parameterType="Guest">
        INSERT INTO guest VALUES (#{guestId},#{guestPwd},#{guestName})
    </insert>
</mapper>