<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ReserveMapper">
    <insert id="insert" parameterType="reserve">
        INSERT INTO reserve (reserveId ,guestId, roomId, reserveCheckIn, reserveCheckOut, reservePrice, reserveCap)
        VALUES (reserveSeq.NEXTVAL, #{guestId}, #{roomId}, #{reserveCheckIn}, #{reserveCheckOut}, #{reservePrice}, #{reserveCap})
    </insert>
    <select id="searchId" parameterType="reserve">
        SELECT reserveId
        FROM reserve
        WHERE roomId = #{roomId}
          AND guestId = #{guestId}
          AND reserveCheckIn = #{reserveCheckIn}
          AND reserveCheckOut = #{reserveCheckOut}
    </select>

    <select id="select" parameterType="Integer" resultType="reserve">
        SELECT *
        FROM reserve
        WHERE reserveId = #{reserveId}
    </select>

    <select id="getReserve" parameterType="Integer" resultType="object">
        SELECT *
        FROM reserve
        JOIN room ON reserve.roomId = room.roomId
        WHERE reserve.reserveId = #{reserveId}
    </select>





</mapper>