<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ReserveMapper">
    <insert id="insert" parameterType="reserve">
        INSERT INTO reserve (reserveId ,guestId, roomId, reserveCheckIn, reserveCheckOut, reservePrice, reserveCap)
        VALUES (reserveSeq.NEXTVAL, #{guestId}, #{roomId}, #{reserveCheckIn}, #{reserveCheckOut}, #{reservePrice}, #{reserveCap})
    </insert>
    <select id="searchId" parameterType="reserve">
        SELECT reserveId
        FROM reserve
        WHERE roomId = #{roomId}
          AND guestId = #{guestId}
          AND reserveCheckIn = #{reserveCheckIn}
          AND reserveCheckOut = #{reserveCheckOut}
    </select>

    <select id="select" parameterType="Integer" resultType="reserve">
        SELECT *
        FROM reserve
        WHERE reserveId = #{reserveId}
    </select>

    <select id="getReserve" parameterType="Integer" resultType="object">
        SELECT *
        FROM reserve
        JOIN room ON reserve.roomId = room.roomId
        WHERE reserve.reserveId = #{reserveId}
    </select>
    <select id="reserveDate" parameterType="Integer" resultType="reserve">
        SELECT reserveCheckIn, reserveCheckOut
        FROM reserve
        WHERE roomId= #{roomId} AND reserveStatus = '결제완료'
    </select>

    <select id="refund" parameterType="reserve">
        UPDATE reserve SET reserveConfirm=2, reserveStatus='결제취소', reservePayAmount=0, reserveRefund=#{reservePrice} WHERE reserveId=#{reserveId}
    </select>

    <update id="update" parameterType="reserve">
        UPDATE reserve SET reserveConfirm=1, reserveStatus='결제완료', reservePayAmount=#{reservePrice}, reservePayDate=SYSDATE, reservePayType=#{reservePayType}, reserveApi=#{reserveApi} WHERE reserveId=#{reserveId}
    </update>


    <select id="getMyReserve" parameterType="String" resultType="reserve">
        SELECT *
        FROM reserve
        JOIN guest ON reserve.guestId=guest.guestId
        JOIN room ON room.roomId = reserve.roomId
        JOIN host ON room.hostId = host.hostId
        WHERE reserve.guestId = #{guestId}
        ORDER BY reserve.reserveCheckIn ASC
    </select>
    <select id="selectHostGuestReserve" resultType="HostRoomReserveReview">
        SELECT H.hostId, H.hostName, H.hostPwd, H.hostImage, H.hostIntro, H.hostSuper, H.hostLang, H.hostRate, H.hostYear, H.hostJob, H.hostVerified, H.hostRegDate, H.hostDelDate,
               O.roomId, O.roomPrice, O.roomName, O.roomAddress, O.roomLoc, O.roomInfo, O.roomIntro, O.roomClean, O.roomPet, O.roomWPrice, O.roomCap, O.roomType, O.roomLat, O.roomLng, O.roomImage1, O.roomImage2, O.roomImage3, O.roomImage4, O.roomImage5, O.roomImage6, O.roomLikes,
               E.reserveId, E.guestId, E.reserveCheckIn, E.reserveCheckOut, E.reservePrice, E.reserveConfirm, E.reserveCal, E.reserveCap, E.reserveStatus, E.reservePayRate, E.reservePayAmount, E.reservePayDate, E.reservePayType, E.reserveDiscount, E.reservePoint, E.reserveBank, E.reserveAccHolder, E.reserveAccount, E.reserverApi, E.reserveRefund,
               G.guestName
        FROM host H
                 INNER JOIN room O ON H.hostId = O.hostId
                 INNER JOIN reserve E ON O.roomId = E.roomId
                 INNER JOIN guest G ON E.guestId = G.guestId
        WHERE H.hostId=#{hostId} AND E.guestId=#{guestId}
    </select>
    <select id="findByReserveId" parameterType="Integer" resultType="HostRoomReserveReview">
        SELECT H.hostId, H.hostName, H.hostPwd, H.hostImage, H.hostIntro, H.hostSuper, H.hostLang, H.hostRate, H.hostYear, H.hostJob, H.hostVerified, H.hostRegDate, H.hostDelDate,
               O.roomId, O.roomPrice, O.roomName, O.roomAddress, O.roomLoc, O.roomInfo, O.roomIntro, O.roomClean, O.roomPet, O.roomWPrice, O.roomCap, O.roomType, O.roomLat, O.roomLng, O.roomImage1, O.roomImage2, O.roomImage3, O.roomImage4, O.roomImage5, O.roomImage6, O.roomLikes,
               E.reserveId, E.guestId, E.reserveCheckIn, E.reserveCheckOut, E.reservePrice, E.reserveConfirm, E.reserveCal, E.reserveCap, E.reserveStatus, E.reservePayRate, E.reservePayAmount, E.reservePayDate, E.reservePayType, E.reserveDiscount, E.reservePoint, E.reserveBank, E.reserveAccHolder, E.reserveAccount, E.reserverApi, E.reserveRefund,
               G.guestName
        FROM host H
                 INNER JOIN room O ON H.hostId = O.hostId
                 INNER JOIN reserve E ON O.roomId = E.roomId
                 INNER JOIN guest G ON E.guestId = G.guestId
        WHERE E.reserveId=#{reserveId}
    </select>

</mapper>