<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.RoomMapper">
    <select id="selectall" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress1, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName
        FROM room
        JOIN host ON room.hostId = host.hostId
    </select>
    <select id="getpage" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress1, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName
        FROM room
        JOIN host ON room.hostId = host.hostId
    </select>
    <select id="getpage2" parameterType="String">
        SELECT r.roomId, r.hostId, r.roomPrice, r.roomname, r.roomaddress1, r.roomloc, r.roominfo,
               r.roomintro, r.roomclean, r.roompet, r.roomwprice, r.roomcap, r.roomtype, r.roomlat,
               r.roomlng, r.roomimage1, r.roomimage2, r.roomimage3, r.roomimage4, r.roomimage5,
               r.roomimage6, r.roomlikes, h.hostImage, h.hostName, l.guestId ,l.likeId
        FROM room r
        JOIN host h ON r.hostId = h.hostId
        LEFT JOIN likeList l ON r.roomId = l.roomId AND l.guestId = #{guestId}
    </select>
    <select id="select" parameterType="Integer" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress1, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName, host.hostIntro
        FROM room
        JOIN host ON room.hostId = host.hostId
        WHERE roomId=#{roomId}
    </select>
    <select id="roomSearch" parameterType="roomSearch" resultType="room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress1, room.roomloc, room.roominfo,
        room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
        room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
        room.roomimage6, room.roomlikes, host.hostImage, host.hostName, host.hostIntro
        FROM room
        JOIN host ON room.hostId = host.hostId
        <where>
            <if test="roomName != null and !roomName.equals('') ">
                roomName LIKE '%'||#{roomName}||'%'
            </if>
             <if test="roomLoc !=null and !roomLoc.equals('')">
                 AND roomLoc LIKE '%'||#{roomLoc}||'%'
             </if>
            <if test="roomType !=null and !roomType.equals('')">
                AND roomType LIKE '%'||#{roomType}||'%'
            </if>
            <if test="roomPrice != null and !roomPrice.equals('') ">
                AND roomPrice &gt;= #{roomPrice}
            </if>
        </where>
    </select>

    <select id="getRoomLocList" parameterType="String" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress1, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName, host.hostIntro
        FROM room
        JOIN host ON room.hostId = host.hostId
        WHERE room.roomLoc=#{roomLoc}
    </select>

</mapper>