<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.RoomMapper">
    <select id="selectall" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName
        FROM room
        JOIN host ON room.hostId = host.hostId
    </select>
    <select id="getpage" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName
        FROM room
        JOIN host ON room.hostId = host.hostId
    </select>
    <select id="select" parameterType="Integer" resultType="Room">
        SELECT room.roomId, room.hostId, room.roomPrice, room.roomname, room.roomaddress, room.roomloc, room.roominfo,
               room.roomintro, room.roomclean, room.roompet, room.roomwprice, room.roomcap, room.roomtype, room.roomlat,
               room.roomlng, room.roomimage1, room.roomimage2, room.roomimage3, room.roomimage4, room.roomimage5,
               room.roomimage6, room.roomlikes, host.hostImage, host.hostName, host.hostIntro
        FROM room
        JOIN host ON room.hostId = host.hostId
        WHERE roomId=#{roomId}
    </select>
    <select id="roomSearch" parameterType="roomSearch" resultType="room">
        SELECT * FROM room
        <where>
            <if test="startdate != null and !startdate.equals('') ">
                rdate &gt;= TO_DATE(#{startdate},'YYYY-MM-DD')
            </if>
            <if test="endd
             ate != null and !enddate.equals('')">
                AND   rdate &lt;= TO_DATE(#{enddate},'YYYY-MM-DD')+0.9999
            </if>
            <if test="name != null and !name.equals('') ">
                AND name LIKE '%'||#{name}||'%'
            </if>
            <if test="price != null and !price.equals('') ">
                AND price &gt;= #{price}
            </if>
        </where>
    </select>

</mapper>